* {
    margin: 0px;
}
<<<<<<< HEAD:login.css

/* Add this at the top of your CSS */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
=======
.page1{
>>>>>>> 929b2a4e5522d156e2c89917793567ee0e393e6f:public/login.css
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0px;
    background: linear-gradient(to right,  #16161e, #0f0e12);
    height: 100%;
    width: 50%;
}

p {
    margin: 30px;
<<<<<<< HEAD:login.css
    margin-left: 80px;
=======
>>>>>>> 929b2a4e5522d156e2c89917793567ee0e393e6f:public/login.css
    align-items: center;
    transition:transform 0.2s;
}

button{
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 20px;
    background-color: rgb(112,85,73);
    border: none;
    height: 40px;
    width: 60%;
    padding-left: 20px;
}

p:hover {
    /*background-color: rgb(140, 110, 90); /* Change to your desired hover color */
    transform: scale(1.05);              /* Slightly increase size */
    transition:transform 0.2s; /* Smooth transition */
}

button:hover {
    background-color: rgb(140, 110, 90); /* Change to your desired hover color */
}

button:active{
    background-color: rgb(69, 136, 76);
}

input {
    padding-left: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    height: 40px;
    border: none;
    width: 60%;
    background-color: #29232e;
    color: rgb(112,85,73);
}
input,button:hover{
    cursor:pointer;
}
#desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #29232e, #191922);
    width: 50%;
    height: 100%;
}
#lines {
    font-family:'Courier New', Courier, monospace;
    color: rgb(112,85,73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 60%;
}

#title {
    color: rgb(112,85,73);
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 80px;
}
h1{
    text-transform: capitalize;
    font-size: 50px;
}
form{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:350px
}
@media(max-width:700px){
    .page1{
        flex-direction: column-reverse;
    }
    #container,#desc{
        position: static;
        width:100%;
        font-size: 0.7rem;
    }
    #desc p{
        font-size: 0.7rem;
    }
    #desc h1{
        font-size: 2.5rem;
    }
    #container{
        background: linear-gradient(to bottom, #191922, #0f0e12);
        align-items: center;
    }
    #desc {
        background: linear-gradient(to bottom, #29232e, #191922);
    }
    #title{
        font-size: 2rem;
    }
}